body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #383838;
}

.header {
    height: 100vh;
    background: url(../img/Vector_4.png) 100% 0/ 50% 100vh no-repeat;
}

.container {
    padding: 0 19px;
    max-width: 1200px;
    margin: 0 auto;
}

.container__base {
    width: 1000px;
    margin: 0 auto;
}

.navigation{
    padding-top: 19px;
    display: flex;
    align-items: center;
    position: relative;
}

.logo {
    font-family: Dancing Script;
    font-size: 28px;
    letter-spacing: 0.01em;
    color: #383838;
    text-decoration: none;
    width: 55px;
}

.account {
    text-decoration: none;
    color: #383838;
    font-size: 30px;
    right: 0;
}

.info__name {
    line-height: 30px;
}

.info__tel{
    font-weight: 600;
    text-decoration: none;
    color: #383838;
}

.information{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    z-index: 2;
}

.menu__navigation{
    display: flex;
}

.menu__links{
    margin-left: 30px;
}

.navigation-link{
    text-decoration: none;
    color: #383838;
    transition: all 0.4s ease;
}

.navigation-link:hover{
    /* Что добавить при наведении*/
    color: #fff;
}

.burger{
    z-index: 3;
    display: none;
}

/* Offer */

.offer{
    margin-top: 80px;
    display: flex;
    align-items: center;
    position: relative;
}
/* Кнопки слайдера */
.dots-slider {
    width: 57px;
}

.dot{
    display: block;
    top: 49px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #CACACA;
    margin: 50px auto;
    cursor: pointer;
    transition: all 0.4s ease;
}

.dot.active{
    width: 16px;
    height: 16px;
    background-color: #383838;
}

.number-slider {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-self: flex-end;
    position: absolute;
    width: 57px;
    margin: 15px 0;
}

.num.active {
    display: block;
    font-size: 20px;
    color: #383838;
}

.static__number {
    color: #CACACA;
}

.num {
    display: none;
}

.slide{
    display: none;
}
.slide.active{
    display: block;
}

.offer-slide__position{
    display: flex;
    justify-content: space-between;
}
/* 1-ая половина оффера, тексты и кнопка */
.offer-line{
    display: none;
    background: #CACACA;
    border-radius: 25px;
    width: 200px;
    height: 5.37px;
}

.offer-slide__title{
    padding-top: 40px;
    font-weight: 600;
    font-size: 80px;
    margin: 0;
    line-height: 113.5%;
}

.offer-slide__text{
    margin-top: 73px;
    line-height: 170%;
}

.offer-slide__price{
    display: flex;
    margin: 46.5px 0;
}

.offer-slide__not-discount{
    color: #FF9D9D;
    font-size: 20px;
}

.offer-slide__discount{
    font-size: 20px;
    margin-left: 8px;
}

.offer-slide__button{
    font-size: 18px;
    width: 201.57px;
    height: 53px;
    border: none;
    border-radius: 5px;
    background: #BDF2EE;
    filter: drop-shadow(0px 0px 15px rgba(175, 224, 220, 0.85));
}
.back__button{
    font-size: 18px;
    width: 201.57px;
    height: 53px;
    border: none;
    border-radius: 5px;
    background: #BDF2EE;
    filter: drop-shadow(0px 0px 15px rgba(175, 224, 220, 0.85));
    position: relative;
    right: -47%;
    bottom: -76px;
}
/* вторая половина слайдера, кнопки (вправо, влево) и картинка */
.button-slider{
    display: none;
}

.offer-slide__img{
    width: 472.9px;
}


.offer-slide__img__content{
    width: 100%;
}

.links {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 15px 0;
}

.icons {
    font-size: 20px;
    text-decoration: none;
    color: #383838;
    margin-left: 40px;
    transition: all 0.2s ease;
}

.icons:hover {
    color: #fff;
}

/* Section */

.section{
    background: url(../img/Vector_2.png) no-repeat,
                url(../img/Vector_3.png) 100% 220px no-repeat;
}

.product__title{
    font-weight: 500;
    font-size: 80px;
    text-align: center;
    margin-top: 48px;
}

.product-line{
    display: none;
    background-color: #F7D6E3;
    border-radius: 25px;
    width: 200px;
    height: 5.37px;
}

.product__text{
    line-height: 170%;
    text-align: center;
    margin-top: 26px;
}

.product__card{
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}

.card{
    width: 280px;
    height: 494px;
    border-radius: 25px;
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card.cake{
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
    
}

.card.gift{
    background: linear-gradient(45deg, #FBAB7E, #F7CE68);
}

.card.buket{
    background: linear-gradient(45deg, #85FFBD, #FFFB7D);
}

.card__position-text{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: -361px;
    color: #FFFEFD;
    text-shadow: 0px 0px 6px #BCBBBB;
    z-index: 1;
}
.team__position-text{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: -361px;
    color: #FFFEFD;
    text-shadow: 0px 0px 6px #5f5f5f;
    z-index: 1;
    position: relative;
    right: -15%;
}
.andrew__position-text{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: -361px;
    color: #FFFEFD;
    text-shadow: 0px 0px 6px #5f5f5f;
    z-index: 1;
    position: relative;
    right: -1%;
}


.card__position-img{
    width: 254px;
    opacity: .7;
    position: absolute;
}

/* Section-2 About-me */

.about-me{
    margin-top: 147px;
    display: flex;
    align-items: center;
}
.about2-me{
    margin-top: 147px;
    display: flex;
    align-items: center;
    position: relative;
    left: -40%;
}

.about-me__line{
    display: none;
    background-color: #BDF2EE;
    border-radius: 25px;
    width: 200px;
    height: 5.37px;
}

.Viktoria{
    position: absolute;
}
.Vika{
    position: relative;
    right: -110%;
}

.about-me__Viktoria{
    display: none;
}

.about-me__section{
    margin-left: 50%;
}
.about-me2__section{
    margin-right: 50%;
}
.about-me__title{
    margin: 27px 0 14px;
    font-weight: 500;
    font-size: 80px;
}

.about-me__text{
    padding-top: 23px;
    line-height: 170%;
}
.about-me2__text{
    padding-top: -23px;
    line-height: 170%;
}

/* Footer */

.footer{
    margin-top: 150px;
    width: 100%;
    background-color: #BFF3EE;
}

.footer-text{
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}

.footer__logo{
    display: flex;
    align-items: center;
}
.footer__logo .info{
    margin-left: 35px;
}

.connection__title{
    font-weight: 600;
    margin-bottom: 15px;
}

.links-text{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #383838;
    margin-top: 8px;
}
.links-text:hover{
    color: #fff;
}
.link-text{
    margin-left: 10px;
}